<%= render 'shared/flash_messages'  %>

<div class="divider"></div>

<h3 class="center"><%= @title_form %></h3>

<div class="divider"></div>
<div class="box-form">

  <%= simple_form_for([:teacher, @lo, @exercise, @question, @tip],
                      html: {class: 'col s12'}, remote: true) do |f| %>

    <%= f.input :content, autofocus: true,:as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} }%>

    <div class="col s3">
      <%= f.input :number_of_tries %>
    </div>

    <%= f.button :submit_materialize, "Confirmar" %>

    <a class='btn-cancel close-tip' data-id='<%= @question.id %>'>
      <i class="material-icons">clear</i>
    </a>

  <% end %>

</div>
<div class="divider"></div>
