<%= render 'shared/flash_messages'  %>

<%= simple_form_for([:teacher, @lo, @exercise, @question, @tip],
                    html: {class: 'col s12'}, remote: true) do |f| %>

  <%= f.input :content, autofocus: true,:as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} }%>

  <div class="col s6 pandding">
    <%= f.input :number_of_tries %>
  </div>

  <%= f.button :submit_materialize, "Confirmar" %>

<% end %>

<div class="divider"></div>
