<li id='tip-<%= tip.id %>' class="box-tip s10 amber accent-3 row">

  <span class="col s11">Conteúdo da dica:</span>

  <div class="col s1">
    <%= link_to edit_teacher_lo_exercise_question_tip_path(@lo, @exercise, @question, tip),
                class: 'left', remote: true do %>
      <%= fa_icon('pencil', 'aria-hidden': true) %>
    <% end %>

    <%= link_to teacher_lo_exercise_question_tip_path(@lo, @exercise, @question, tip),
                method: :delete,
                data: { confirm: 'tem certeza disso?' },
                class: 'right' do %>
      <%= fa_icon('times', 'aria-hidden': true) %>
    <% end %>
  </div>

  <div class="col s10 offset-s1 box-tip-content text-multiply">
    <%= tip.content.html_safe %>
  </div>

  <p class="col s4 right text-multiply">Mostrar após a <%= tip.number_of_tries %>ª tentativa sem sucesso</p>

</li>
