<li class="collection-item col s12 row white">
  <div class="col s9 title">
    <i class="mdi-content-text-format left introduction"></i>
    <span class="introduction"><%= "Introdução " + introduction.index.to_s %></span>
    <p>
      <%= link_to(
        introduction.title,
        teacher_lo_introduction_path(@lo, introduction)
      ) %>
    </p>
  </div>

  <div class="col s3">
    <%= link_to(edit_teacher_lo_introduction_path(@lo, introduction), class: 'left') do%>
      <%= fa_icon('pencil', 'aria-hidden': true) %>
    <% end %>

    <%= link_to([:teacher, @lo, introduction], method: :delete, class: 'right',
    data: { confirm: 'tem certeza disso?' }) do%>
      <%= fa_icon('trash', 'aria-hidden': true) %>
    <% end %>
  </div>

  <div class="col s6 offset-s6">
    <span class="span-created-at right">
      Criado em <%= l(introduction.created_at, format: :small) %>
    </span>

    <% if introduction.updated_at != introduction.created_at %>
    <span class="span-created-at right">
      Última atualização em <%= l(introduction.updated_at, format: :small) %>
    </span>
    <% end %>
  </div>
</li>
