<%= simple_form_for([:teacher ,@lo], html: {multipart: true}) do |f| %>

  <div class="col s12">
    <%= f.input :name, autofocus: true %>
  </div>

  <div id="box-textarea" class="col s12">
    <%= f.input :description, as: :textarea %>
  </div>

  <div class="col s12">
    <%= f.input :available, as: :checkbox_materialize %>
  </div>

  <div id="box-image-preview" class="col s4 offset-s8">
    <%= f.simple_fields_for :image do |image| %>
      <%= image.input :image, as: :image_preview, direct: true %>
    <% end %>
  </div>

  <%= f.button :submit_materialize, cancel: teacher_los_path %>

<% end %>
