<%= simple_form_for([:teacher ,@lo], html: {multipart: true}) do |f| %>

  <div class="col s12">
    <%= f.input :name, autofocus: true %>
  </div>

  <div id="box-textarea" class="col s9">
    <%= f.input :description, as: :textarea %>
  </div>

  <%= f.simple_fields_for :image do |image| %>
    <%= image.input :image, as: :file_materialize, direct: true %>
  <% end %>

  <%= f.button :submit_materialize, cancel: teacher_los_path %>

<% end %>
