<div class="card col s3">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- <img class="activator" src="images/office.jpg"> -->
      <%= image_tag lo.image.url, class: "activator image-lo"%>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">
      <%= lo.name %><i class="material-icons">more_vert</i>
    </span>
    <p><%=  %></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">
      <%= lo.name %><i class="material-icons">close</i>
    </span>
    <p><%= lo.description %></p>
    <%= link_to teacher_lo_path(lo), method: :delete, data: { confirm: 'tem certeza disso?' } do %>
      <i class="material-icons link_card delete small tooltipped"
          data-position="left" data-tooltip="Deletar o OA <%= lo.name %>">
        delete
      </i>
    <% end %>
    <%= link_to edit_teacher_lo_path(lo) do %>
      <i class="material-icons link_card update small tooltipped"
        data-position="left" data-tooltip="Editar o OA <%= lo.name %>">
        mode_edit
      </i>
    <% end %>
    <%= link_to teacher_lo_path(lo) do %>
      <i class="material-icons link_card show small tooltipped"
        data-position="left" data-tooltip="Criar/Editar os conteúdos do OA <%= lo.name %>">
        note_add
      </i>
    <% end %>
  </div>
</div>
