<div class="card">
  <div class="card-head hoverable" data-card="#card-<%= lo.id %>">
    <%= image_tag lo.image.url(:thumb), class: "responsive-img"%>

    <div class="card-text z-depth-3 center">
      <span> <%= truncate_and_set_tooltip(lo.name, length: 10) %> </span>
    </div>
  </div>

  <div id="card-<%= lo.id %>" class="card-content hoverable">
    <div class="center-align"><%= truncate_and_set_tooltip(lo.name, length: 10) %></div>
    <div class="lo-description">
      <p><%= truncate_and_set_popup(lo.name, lo.description, length: 70, separator: ' ') %></p>
    </div>
    <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>

    <%= link_to [:teacher, lo], class: 'lo-content' do %>
      <%= fa_icon "file" %>
    <% end %>

    <%= link_to edit_teacher_lo_path(lo), class: 'lo-edit' do %>
      <%= fa_icon "pencil" %>
    <% end %>

    <%= link_to [:teacher, lo], class: 'lo-delete', method: :delete do %>
      <%= fa_icon "trash" %>
    <% end %>
  </div>
</div>
