<div class="card">
   <div class="card-image waves-effect waves-block waves-light">
     <%= image_tag lo.image.url , class: "responsive-img activator"%>
   </div>
   <div class="card-content center-align">
      <span class="card-title"><%= truncate_and_set_tooltip(lo.name, length: 10) %></span>
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4 center-align">
       <%= truncate_and_set_tooltip(lo.name, length: 10) %>
       <i class="material-icons right close">close</i>
     </span>
     <p class="content"><%= truncate_and_set_popup(lo.name, lo.description, length: 70, separator: ' ') %></p>

     <%= link_to [:teacher, lo], class: 'actions destroy',method: :delete do %>
        <%= fa_icon "trash" %>
     <% end %>

     <%= link_to edit_teacher_lo_path(lo), class: 'actions edit' do %>
        <%= fa_icon "pencil" %>
     <% end %>

     <%= link_to [:teacher, lo], class: 'actions show' do %>
        <%= fa_icon "file" %>
     <% end %>
   </div>
</div>
