<% provide(:title, "Edite OA") %>

<div id="box-new-lo" class="col s9 container">

  <h3>Objeto de Aprendizagem <%= @lo.name %></h3>

  <%= simple_form_for([:teacher ,@lo], html: {class: 'col s12'}) do |f| %>

    <%= f.input :name, autofocus: true %>
    <%= f.input :description, as: :textarea %>

    <%= f.button :submit_materialize, "Confirmar" %>
  <% end %>

</div>
