<% provide(:title, "OA #{@lo.name}") %>

<div class="fixed-action-btn vertical" >
  <a class="btn-floating btn-large pink-red">
    <%= fa_icon('pencil', 'aria-hidden': true, class: 'fa-1') %>
  </a>

  <ul>
    <li>
      <%= link_to(new_teacher_lo_exercise_path(@lo), class: 'btn-floating light-pink-color tooltipped',
      'data-position' => 'left', 'data-tooltip' => 'Criar um novo exercicio') do%>
      <%= fa_icon('list', 'aria-hidden': true, class: 'fa-1') %>
      <% end %>
    </li>

    <li>
      <%= link_to(new_teacher_lo_introduction_path(@lo), class: 'btn-floating purple-color tooltipped',
      'data-position' => 'left', 'data-tooltip' => 'Criar uma nova introdução') do%>
        <%= fa_icon('font', 'aria-hidden': true, class: 'fa-1') %>
      <% end %>
    </li>
  </ul>
</div>

<article class="col s12 row">
  <h2 class="center"><%= @lo.name %></h2>

  <a class="waves-effect waves-light btn">
    Testar OA
  </a>

  <ul id='list-content-los' class="collection col s12 row">

    <%= render @contents %>

  </ul>

</article>
