<%= simple_form_for([:teacher ,@team], html: {class: 'col s12 row', multipart: true}) do |f| %>

  <%= f.input :name, autofocus: true %>
  <%= f.input :code %>
  <%= f.input :opened, as: :checkbox_materialize %>
  <%= f.association :lo, prompt: "Escolha um OA para a turma" %>

  <div id="box-image-preview" class="col s4 offset-s8">
    <%= f.simple_fields_for :image do |image| %>
      <%= image.input :image, as: :image_preview, direct: true %>
    <% end %>
  </div>

  <%= f.button :submit_materialize, cancel: teacher_teams_path %>
<% end %>
