<% provide(:title, "Editar perfil") %>
<% provide(:sub_title, "Atualize seus dados, preenchendo os campos abaixo") %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f| %>

    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "deixe em branco se você não quiser alterá-la", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "a senha atual é necessária para confirmar as alterações", required: true %>
    <%= f.input :avatar, as: :file_materialize %>

    <div id="box-btns">
      <div class="col s5">
        <%= link_to "Cancelar", choose_workspace_path, class: "btn" %>
      </div>

      <div class="col s7">
        <%= f.button :submit, "Atualizar Dados", class: "right col s10" %>
      </div>
    </div>
<% end %>
