<li>

  <div class="collapsible-header">

    <div class="clearfix">
      <%= image_tag("home/#{research[:type]}.png") %>
      <p class="title">
        <b><%= raw research[:title] %></b>
      </p>
    </div>

    <!-- <p class="authorship"> -->
    <!--   <span class="author">Diego Marczal</span> -->
    <!--   <span class="institution">UFPR &#45; Universidade Federal do Paraná</span> -->
    <!--   <span class="year">2010</span> -->
    <!-- </p> -->

    <span class="icon-arrow">
      <%= fa_icon('angle-down', 'aria-hidden': true, class: 'right more') %>
    </span>

  </div>

  <article class="collapsible-body research_abstract">

    <p><b>Resumo: </b>
      <%= research[:abstract] %>
    </p>

    <div class="clearfix">
      <a href="<%= research[:link] %>" class="right">Ler o trabalho completo</a>
    </div>

    <p class="reference">
        <%= raw research[:ref] %>
    </p>
  </article>

</li>
