<nav>
  <%= link_to("FARMA", root_path, class: "brand-logo center", id: "logo-container") %>
  <div id="slide-out" class="side-nav green lighten-2">
    <div id="painel" class="green darken-1">
      <%= image_tag "user.png", class: "circle", id: "img-user" %>
      <h6 class="center-align"><%= current_user.name %></h6>
    </div>
    <ul>
      <li>
        <%= link_to(dashboard_path) do %>
          <i class="mdi-action-dashboard left"></i> Dashboard
        <% end %>
      </li>
      <li>
        <%= link_to(edit_user_registration_path) do %>
          <i class="mdi-action-face-unlock left"></i> Perfil
        <% end %>
      </li>
      <li>
        <%= link_to(destroy_user_session_path, method: :delete) do %>
          <i class="mdi-hardware-keyboard-tab left"></i> Sair
        <% end %>
      </li>
    </ul>
  </div>
  <a id="button-user"href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>
