<div id="slide-out" class="wight z-depth-4 col s3">

  <div id="painel" class="">

    <%= image_tag current_user.avatar.url, class: "circle", id: "img-user"%>

    <ul id='links_user' class='dropdown-content'>
      <li>
        <%= link_to(edit_user_registration_path) do %>
          <i class="mdi-action-face-unlock left"></i> Perfil
      <% end %>
      </li>
      <li>
        <%= link_to(destroy_user_session_path, method: :delete) do %>
          <i class="mdi-hardware-keyboard-tab left"></i> Sair
      <% end %>
      </li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li>
        <a id="button_links_user" class="dropdown-button waves-effect waves-light" href="#!" data-activates="links_user">
          <i class="material-icons">view_list</i>
          <div id="box_user_name">
            <h6 class="center-align"><%= current_user.name %></h6>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="collection">
    <%= link_to(dashboard_path, class: 'collection-item') do %>
      <i class="mdi-action-dashboard left"></i> Dashboard
    <% end %>
    <%= link_to(los_path, class: 'collection-item') do %>
      <i class="mdi-action-list left"></i> Meus OAs
    <% end %>
  </div>
</div>
