<div class="team">
  <div class="card">
    <div class="card-content center">
      <span class="card-title"><%= team.name %></span>
    </div>
    <div class="card-image">
      <%= image_tag team.user.avatar.url, class: "responsive-img" %>
    </div>
    <div class="card-content information center">
      <p><%= team.user.name %></p>
      <p><%= I18n.l team.created_at, :format => :short %></p>
    </div>
    <% if current_user.registered?(team) %>
      <div class="card-action center">
        <%= link_to "Visualizar conteúdo", student_team_path(team) %>
      </div>
    <% else %>
      <div class="card-action center box-form ">
        <%= form_for :register, html: {id: "register_form_#{team.id}"} do |f| %>
          <div class="input-field">
            <%= f.hidden_field :id, value: team.id %>
            <%= f.text_field :code %>
            <label for="register_code" class="center_align">Insira a chave</label>
          </div>

          <%= f.submit 'inscrever-se', :class => 'waves-effect waves-light btn white' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
