<div class="card">
  <div class="card-image">
    <%= image_tag team.user.avatar.url, class: "circle" %>
  </div>

  <div class="card-content center">
    <span class="card-title"><%= team.name %></span>
    <% unless current_user.registered?(team) %>
      <%= simple_form_for(:register, url: student_teams_path, method: :post) do |f| %>
        <%= f.input :code, placeholder: "Insira a chave", class: "form-control string", label: false %>
        <%= f.submit 'Registrar-se', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
  
  <% if current_user.registered?(team) %>
    <div class="card-action center">
      <%= link_to "OAs da Turma", student_team_path(team) %>
    </div>
  <% end %>

</div>
