<div class="team">
  <div class="card">
    <div class="card-content center">
      <span class="card-title"><%= team.name %></span>
    </div>

    <div class="card-image">
      <%= image_tag team.user.avatar.url, class: "responsive-img" %>
    </div>

    <div class="card-content information center">
      <p><%= team.user.name %></p>
      <p><%= I18n.l team.created_at, :format => :short %></p>
    </div>

    <% if current_user.registered?(team) %>
      <div class="card-action center">
        <%= link_to "Ver Turma", student_team_path(team) %>
      </div>
    <% end %>

  </div>
</div>
