<% provide(:title, "Turmas") %>

<article id="teams">
  <header class="center">
    <h1>Turmas Abertas</h1>
  </header>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#open-teams">Abertas</a></li>
        <li class="tab col s4"><a href="#registered-teams">Matriculadas</a></li>
        <li class="tab col s4"><a href="#close-teams">Fechadas</a></li>
      </ul>
    </div>

    <div id="open-teams" class="col s12">
      <%= split_in_columns(collection: @open_teams, per_row: 3) do |team|%>
        <%= render 'team', team: team %>
      <% end %>
    </div>

    <div id="registered-teams" class="col s12">
      <%= split_in_columns(collection: @registered_teams, per_row: 3) do |team|%>
        <%= render 'team', team: team %>
      <% end %>
    </div>

    <div id="close-teams" class="col s12">
      <%= split_in_columns(collection: @close_teams, per_row: 3) do |team|%>
        <%= render 'team', team: team %>
      <% end %>
    </div>
  </div>
</article>
