<%= render "layouts/view_lo/navbar_dropdowns/links_user" %>
<%= render "layouts/view_lo/navbar_dropdowns/process" %>

<nav class="right grey lighten-5">
  <div class="nav-wrapper">
    <%= link_to image_tag("logos/logo-farma-black.png", class: "brand-logo"), root_path %>

    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <li id="my-process" class="dropdown-button waves-effect waves-light" data-activates="process">
        <div class="box-process-bar">
          <div class="text center">
            <span class="grey-text lighten-1">Meu rendimento</span>
          </div>
          <div class="bar grey lighten-1">
            <div class="preview-bar teal lighten-1"></div>
            <div class="process-bar green accent-4"></div>
          </div>
        </div>
      </li>

      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-button waves-effect waves-light clearfix grey-text lighten-1" href="#!" data-activates="links_user">
          <%= current_user.name %><i id="drop-down" class="material-icons right">arrow_drop_down</i>
          <%= image_tag current_user.avatar.url(:thumb), class: "circle img-user left" %>
        </a>
      </li>
    </ul>
  </div>
</nav>
