<div class="navbar-fixed">
  <%= render 'layouts/view_lo/navbar_partials/user_dropdown' %>
  <%= render 'layouts/view_lo/navbar_partials/progress_dropdown' %>

  <nav>
    <ul class="left">
      <li>
        <div id="active-sidebar" class="center">

        </div>
      </li>

      <li id="nav-lo-name">
        <%= truncate_and_set_tooltip(@lo.name, length: 10) %>
      </li>
    </ul>

    <%= link_to root_path, class: "brand-logo center" do %>
        <%= image_tag "logos/logo-farma-gray.png", class: 'logo' %>
    <% end %>

    <ul id="button_links_user" class="right">

      <li>
        <a class="progress-lo-bar dropdown-button center" href="#!" data-activates="dropdown_progress">
          <span>Meu rendimento</span>

          <div class="bar">
            <div class="progress-bar" data-percent="<%= @lo.progress_percent(@team) %>"></div>
          </div>
        </a>
      </li>

      <!-- Dropdown Trigger -->
      <li class="user-profile">
        <a class="dropdown-button" href="#!" data-activates="dropdown_user">
          <%= attachment_image_tag current_user.avatar,
                                   :image,
                                   :fill,
                                   34,
                                   34,
                                   fallback: "default-avatar.png",
                                   class: "circle responsive-img" %>
          <%= current_user.name %> <%= fa_icon('caret-down', 'aria-hidden': true) %>
        </a>
      </li>
    </ul>
  </nav>

</div>
