<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title><%= full_title(yield(:title)) %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="//cdn.materialdesignicons.com/1.7.12/css/materialdesignicons.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'view_lo/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'view_lo/application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'shared/flash_messages'  %>
    <%= render 'layouts/view_lo/navbar' %>
  </header>

  <main>
    <article id="los-content" class="row">
      <header class="center col s9 offset-l2">
        <h3><%= yield :lo_name %></h3>
      </header>

      <div id="lo-panel">
        <div id="top-panel"></div>
        <ul>
          <%= yield :contents_lo %>
        </ul>
      </div>

      <div id="contents" class="col s9 z-depth-1 offset-l2">
        <%= yield %>
      </div>
    </article>
  </main>
</body>
</html>
