<div class="navbar-fixed">

  <ul id='dropdown_user' class='dropdown-content'>
    <li>
      <%= link_to(edit_user_registration_path) do %>
        Perfil <%= fa_icon('user', 'aria-hidden': true) %>
      <% end %>
    </li>
    <li>
      <%= link_to(destroy_user_session_path, method: :delete) do %>
        Sair <%= fa_icon('sign-out', 'aria-hidden': true) %>
      <% end %>
    </li>
  </ul>

  <nav>
    <%= link_to root_path, class: "brand-logo center" do %>
        <%= image_tag "logos/logo-farma-gray.png", class: 'logo' %>
    <% end %>

    <ul id="button_links_user" class="hide-on-med-and-down right center">
      <li>
        <div class="switch switch-workspace">
          <label>
            Professor
            <input data-switch-to-url="<%= teacher_url %>" type="checkbox" <%= switch_workspace_checked_when_student %>>
            <span class="lever"></span>
            Estudante
          </label>
        </div>
      </li>

      <!-- Dropdown Trigger -->
      <li class="user-profile">
        <a class="dropdown-button" href="#!" data-target="dropdown_user">
          <%= attachment_image_tag current_user.avatar,
                                   :image,
                                   :fill,
                                   34,
                                   34,
                                   fallback: "default-avatar.png",
                                   class: "circle responsive-img" %>
          <%= current_user.name %> <%= fa_icon('caret-down', 'aria-hidden': true) %>
        </a>
      </li>
    </ul>
  </nav>

</div>
