<div class="sidebar z-depth-2" >
  <ul class="list">

    <%= active_link_to student_path, wrap_tag: :li, active: :exclusive do %>
      <%= fa_icon('home', 'aria-hidden': true) %> Dashboard
    <% end %>

    <li id="dropdown-teams">
      <%= link_to '#teams', class: 'dropdown-sidebar' do %>
        <%= fa_icon('bars', 'aria-hidden': true) %> Turma
        <%= fa_icon('caret-down', 'aria-hidden': true, class: 'right more') %>
        <%= fa_icon('caret-up', 'aria-hidden': true, class: 'right less') %>
      <% end %>
    </li>

    <li id="teams" class="dropdown" data-target="dropdown-teams">
      <ul class="clearfix">
        <%= active_link_to student_teams_path, wrap_tag: :li, active: :exclusive do %>
          <div class="left"></div>
          <span class="left">Abertas</span>
        <% end %>

        <%= active_link_to student_registered_teams_path, wrap_tag: :li, active: [['student/teams'], ['registered', 'show']] do %>
          <div class="left"></div>
          <span class="left">Matriculadas</span>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
