<% provide(:title, "Meus OAs") %>
  <!-- <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a> -->
  <%= link_to(new_workspace_lo_path, class: 'btn-floating btn-large waves-effect waves-light red', id: 'botton-new') do%>
    <i class="material-icons">add</i>
  <% end %>
<div class="col s9">

  <article id="collection">

    <ul id="dashboard-collection" class="collection list-active container z-depth-1">

      <li class="collection-header"><h4 class="center-align">Meus Objetos de Aprendizagem</h4></li>

      <% @los.each do |lo| %>
        <li class="collection-item avatar hoverable">

          <div id="left-box">
            <%= content_tag(:span, lo.name, class: "title truncate")%>
            <%= content_tag(:p, lo.user.name) %>
          </div>

          <div id="mdi-box">
            <%= content_tag(:p, lo.description) %>
          </div>

          <div id="right-box">

              <%= link_to(workspace_lo_path(lo), method: :get) do %>
                <i class="material-icons">send</i>
              <% end %>

              <%= link_to(edit_workspace_lo_path(lo)) do %>
                <i class="material-icons">build</i>
              <% end %>

              <%= link_to(workspace_lo_path(lo.id), method: :delete, data: { confirm: 'tem certeza disso?' }) do%>
                <i class="material-icons">delete_forever</i>
              <% end %>

          </div>

        </li>
      <% end %>

    </ul>

  </article>
</div>
