<% provide(:title, "#{@lo.name}") %>

<div class="fixed-action-btn">
<%= link_to(new_workspace_lo_introduction_path(@lo), class: 'fixed-action-btn vertical') do%>
<% end %>
<a class="btn-floating btn-large waves-effect waves-light red">
  <i class="material-icons">add</i>
</a>
<ul>
      <li><a class="btn-floating red"><i class="material-icons">attach_file</i></a></li>
      <li><a class="btn-floating red"><i class="material-icons">format_list_numbered</i></a></li>
</ul>
</div>

<div class="col s9">
  <article id="collection">

    <ul id="dashboard-collection" class="color-background collection list-active collection-menu-oa container z-depth-1">

      <li class="collection-header white-text"><h4 class="center-align">Objeto <%=@lo.name%></h4></li>

      <% @contents.each do |content| %>
        <li class="collection-item avatar hoverable">

          <div id="left-box">
            <!-- <%= content_tag(:span, content.title, class: "title truncate")%> -->
          </div>

          <div id="mdi-box">
            <!-- <%= content_tag(:p, content.content) %> -->
            <%= content_tag(:span, content.title, class: "title truncate")%>
          </div>

          <div id="right-box">
            <%= link_to([:workspace, @lo,content]) do %>
              <i class="material-icons">send</i>
            <% end %>

            <%= link_to(edit_workspace_lo_exercise_path(@lo,content)) do %>
              <i class="material-icons">create</i>
            <% end %>

            <%= link_to([:workspace, @lo,content], method: :delete, data: { confirm: 'tem certeza disso?' })do%>
              <i class="material-icons">delete_forever</i>
            <% end %>
          </div>

        </li>
      <% end %>

    </ul>

  </article>
</div>
