<ul id='dropdown_admin' class='dropdown-content'>
  <li>
    <%= link_to("#") do %>
      Perfil <%= fa_icon('user', 'aria-hidden': true) %>
    <% end %>
  </li>
  <li>
    <%= link_to(destroy_admin_session_path, method: :delete) do %>
      Sair <%= fa_icon('sign-out', 'aria-hidden': true) %>
    <% end %>
  </li>
</ul>

<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">FARMA</a>
      <ul class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li class="user-profile">
          <a class="dropdown-button" href="#!" data-activates="dropdown_admin">
            <%= image_tag 'admin/user.jpeg', class: "circle responsive-img" %>
            <%= current_admin.name %> <%= fa_icon('caret-down', 'aria-hidden': true) %>
          </a>
        </li>
      </ul>
    </div>
</nav>
