<ul id="panel-list" class="col s12">

  <%= link_to(admin_path) do %>
    <li <%= active_class 'dashboard' %> >
      <i class="mdi-action-home left"></i> Dashboard
    </li>
  <% end %>

  <%= link_to(admin_researches_path) do %>
    <li <%= active_class_for_links ['los', 'exercises', 'introductions', 'questions'] %> >
        <i class="tiny material-icons right">file_folder</i> Pesquisas
    </li>
  <% end %>

  <div class="divider panel-list-divider"></div>

  <%= link_to(teacher_teams_path) do %>
    <li <%= active_class_for_links ['temas'] %> >
        <i class="tiny material-icons right">file_folder</i> Desenvolvedores
    </li>
  <% end %>

</ul>
