<div class="sidebar" >
  <ul class="list">

    <%= active_link_to admin_path, wrap_tag: :li, active: :exclusive do %>
      Dashboard <%= fa_icon('home', 'aria-hidden': true) %>
    <% end %>

    <div class="divider col s12"></div>

    <%= active_link_to admin_researches_path, wrap_tag: :li do %>
      Pesquisas <%= fa_icon('folder', 'aria-hidden': true) %>
    <% end %>

    <%= active_link_to admin_developers_path, wrap_tag: :li do %>
      Equipe <%= fa_icon('folder', 'aria-hidden': true) %>
    <% end %>

  </ul>
</div>
