<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title), 'Farma Admin') %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => "reload" %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => "reload" %>
  <%= csrf_meta_tags %>
</head>
<body>

   <%= render 'shared/flash_messages'  %>

  <div class="navbar-fixed nav-dashboard">
    <%= render 'layouts/admin/navbar' %>
  </div>

  <main id="main-teacher" class="row">

    <div id="panel" class="col l2 row active hide-on-med-and-down">
      <%= render 'layouts/admin/panel' %>
    </div>

    <div id="container">
      <div id="content-teacher" class="col m12 l9 offset-l2 row">

        <div class="content white">
          <%= yield %>
        </div>

      </div>
    </div>

  </main>

</body>
</html>
