<!DOCTYPE html>
<html>
<head>
  <title>FarmaReborned</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    'application', 'admin/login', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/flash_messages'  %>

  <div id="admin-login-page" class="container">
    <div class="card-panel hoverable">
      <h5 class="center-align"> Acesso a área administrativa </h5>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>

