<ul id='links_user' class='dropdown-content'>
  <li class="clearfix">
    <%= link_to(edit_user_registration_path) do %>
      <i class="mdi-social-person left"></i> Perfil
  <% end %>
  </li>
  <li class="clearfix">
    <%= link_to(destroy_user_session_path, method: :delete) do %>
      <i class="mdi-action-exit-to-app left"></i> Sair
  <% end %>
  </li>
</ul>

<nav class="clearfix">
  <div id="button-panel" class="left center hide-on-med-and-down">
    <i class="material-icons">menu</i>
  </div>

  <%= link_to("FARMA", root_path, class: "brand-logo", id: "logo-container") %>

  <ul id="button_links_user" class="hide-on-med-and-down right">
    <li>
      <div id="switch-page" class="switch">
        <label>
          Professor
          <input type="checkbox">
          <span class="lever"></span>
          Aprendiz
        </label>
      </div>
    </li>
    <!-- Dropdown Trigger -->
    <li class="">
      <a class="dropdown-button waves-effect waves-light clearfix" href="#!" data-activates="links_user">
        <%= current_user.name %><i id="drop-down" class="material-icons right">arrow_drop_down</i>
        <%= image_tag current_user.avatar.url(:thumb), class: "circle img-user left" %>
      </a>
    </li>
  </ul>

  <ul id="nav-mobile" class="side-nav">
    <li class="clearfix">
      <%= image_tag current_user.avatar.url(:medium), class: "circle", id: "img-user" %>
      <h3 class="center"><%= current_user.name %></h3>
    </li>

    <li class="center">
      <div id="switch-page" class="switch">
        <label>
          Professor
          <input type="checkbox">
          <span class="lever"></span>
          Aprendiz
        </label>
      </div>
    </li>

    <li class="clearfix">
      <%= link_to(teacher_path) do %>
        <i class="mdi-action-dashboard left"></i> Dashboard
      <% end %>
    </li>

    <li class="clearfix">
      <%= link_to(teacher_los_path) do %>
        <i class="mdi-action-list left"></i> Meus OAs
      <% end %>
    </li>
  </ul>

  <a href="#" data-activates="nav-mobile" class="button-collapse">
    <i class="material-icons">menu</i>
  </a>
</nav>
