<ul id="panel-list" class="col s12">

  <%= link_to(teacher_path) do %>
    <li <%= active_class 'dashboard' %> >
      <i class="mdi-action-dashboard left"></i> Dashboard
    </li>
  <% end %>

  <%= link_to(teacher_los_path) do %>
    <li <%= active_class_for_links ['los', 'exercises', 'introductions', 'questions'] %> >
        <i class="mdi-file-folder left"></i> Meus OAs
    </li>
  <% end %>

  <div class="divider panel-list-divider"></div>

  <%= link_to('#') do %>
    <li >
        <i class="mdi-social-group left"></i> Turmas
    </li>
  <% end %>

</ul>
