<div class="sidebar z-depth-2" >
  <ul class="list">

    <%= active_link_to teacher_path, wrap_tag: :li, active: :exclusive do %>
      <%= fa_icon('home', 'aria-hidden': true) %> Dashboard
    <% end %>

    <%= active_link_to teacher_los_path, wrap_tag: :li do %>
      <%= fa_icon('folder', 'aria-hidden': true) %> Meus OAs
    <% end %>

    <%= active_link_to teacher_teams_path, wrap_tag: :li do %>
      <%= fa_icon('folder', 'aria-hidden': true) %> Turmas
    <% end %>

  </ul>
</div>
