<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="//cdn.materialdesignicons.com/1.7.12/css/materialdesignicons.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'teacher/application', media: 'all', 'data-turbolinks-track' => "reload" %>
  <%= javascript_include_tag 'teacher/application', 'data-turbolinks-track' => "reload" %>

  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML"></script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showProcessingMessages: false,
      jax: ["input/TeX", "output/SVG"],
      SVG: {
        scale: 150
      }
    });
  </script>

  <%= csrf_meta_tags %>
</head>
<body>

   <%= render 'shared/flash_messages'  %>

  <div class="navbar-fixed nav-dashboard">
    <%= render 'layouts/teacher/navbar' %>
  </div>

  <main id="main-teacher" class="row">

    <div id="panel" class="col l2 row active hide-on-med-and-down">
      <%= render 'layouts/teacher/panel' %>
    </div>

    <div id="container">
      <div id="content-teacher" class="col m12 l9 offset-l2 row">

        <header id="header-teacher">
          <%= render_breadcrumbs :builder => ::MaterializeBreadcrumbs, class: 'nav-breadcrumbs z-depth-0' %>
          <div class="divider col s12"></div>
        </header>

        <div class="content white">
          <%= yield %>
        </div>

      </div>
    </div>

  </main>

</body>
</html>
