<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    'teacher/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'teacher/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

   <%= render 'shared/flash_messages'  %>

  <header>
    <%= render 'layouts/teacher/navbar' %>
  </header>

  <main id="main-teacher" class="row">

    <div id="painel" class="col l2 row active hide-on-med-and-down">
      <%= render 'layouts/teacher/painel' %>
    </div>

    <div id="content-teacher" class="col m12 l9 row">

      <header>
        <h2 class="center"><%= page_title_the_teacher(yield(:page_teacher)) %></h2>

        <%= render_breadcrumbs :builder => ::MaterializeBreadcrumbs %>

      </header>

      <%= yield %>

    </div>

  </main>

</body>
</html>
