<%= simple_form_for([@developer], html: {multipart: true}) do |f| %>

<div class="row">
  <div class="col s12">
    <%= f.input :name, autofocus: true %>
  </div>
  <div class="col s12">
    <%= f.input :function %>
  </div>
  <div class="col s12">
    <%= f.input :institution %>
  </div>
  <div class="col s12">
    <%= f.input :link %>
  </div>
  <div class="col l12">
    <%= f.input :active, boolean_style: :inline %>
  </div>
</div>
<div class="row">
  <div class="col l6">
    <div class="row">
      <div class="col s12">
        <%= f.input :start_on_project, as: :string, input_html: { class: 'datepicker' } %>
      </div>
      <div class="col s12" id="date_leave_project">
        <%= f.input :leave_project, as: :string,  input_html: { class: 'datepicker' } %>
      </div>
      <div class="col s12 file-field input-field">
        <div class="btn waves-effect waves-light">
          <span>Avatar</span>
          <%= f.attachment_field :profile_image, class: 'file_preview' %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l6">
      <div class="col s12 center">
        <%= image_tag attachment_url(@developer, :profile_image, fallback: "default-avatar"), :class => 'img-300 hidden image_to_upload', id: 'image_preview' %>
      </div>
    </div>
  </div>
  <%= f.button :submit_materialize, cancel: admin_developers_path, html: { :id => 'send_button'} %>
</div>

<% end %>
