<div class="fixed-action-btn">
  <%= link_to(new_admin_developer_path,
              class: 'btn-floating btn-large tooltipped ',
              'data-position' => 'left',
              'data-tooltip' => 'Cadastrar um novo membro') do %>
     <%= fa_icon "plus" %>
  <% end %>
</div>	

<p id="notice"><%= notice %></p>

<h1>Membros</h1>

<table class="highlight responsive-table">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Função</th>
      <th>Instituição</th>
      <th>Link</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |dev| %>
      <tr>
        <td>
          <%= link_to(admin_developer_path(dev)) do %>
            <%= image_tag attachment_url(dev, :profile_image, :fill, 50, 50, format: "jpg", fallback: "default-avatar"), :class => 'circle responsive-img index-image' %>
          <% end %>
        </td>
        <td><%= dev.name %></td>
        <td><%= dev.function %></td>
        <td><%= dev.institution %></td>
        <td><%= link_to dev.link, "http://#{dev.link}" %></td>
        
        <td>
        <% if dev.active == true %>
        Ativo
        <% else %>
        Inativo
        <% end %>
        </td>

        <td><%= dev.start_on_project %></td>

        <td>
          <%= link_to(admin_developer_path(dev)) do %>
          <%= fa_icon "user", class: 'small' %>
          <% end %>
        </td>

        <td>
          <%= link_to(edit_admin_developer_path(dev)) do %>
          <%= fa_icon "edit", class: 'small' %>
          <% end %>
        </td>
        
        <td>
          <%= link_to(dev, method: :delete, data: { confirm: 'Deseja excluir esse desenvolvedor?' }) do %>
          <%= fa_icon "trash", class: 'small' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
