<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel grey lighten-5 z-depth-1">
	  <div class="row valign-wrapper">
	    <div class="col s2">
	      <%= image_tag attachment_url(@developer, :profile_image, :fill, 300, 300, format: "jpg", fallback: "default-avatar"), :class => 'circle responsive-img profile-image' %>
	    </div>
	    <div class="col s10">
	      <span class="black-text">
	        
			<h1>Name: <%= @developer.name %> </h1>

			<h2>Cargo: <%= @developer.function %></h2>

			<h2>Instituição: <%= @developer.institution %></h2>
		
			<% if @developer.active == true %>
	        <h2>Ativo</h2>
	        <% else %>
	        <h2>Inativo</h2>
	        <% end %>

			<h2>Entrou no projeto: <%= @developer.start_on_project %></h2>

			<% if @developer.leave_project? %>
			<h2>Saiu do projeto: <%= @developer.leave_project %></h2>
			<% end %>
			
	      </span>
	    </div>
	  </div>
	</div>
	<%= link_to('Voltar', admin_developers_path, class: 'waves-effect waves-light btn') %>
	<%= link_to('editar', edit_admin_developer_path(@developer), class: 'waves-effect waves-light btn right') %>
</div>
