<section id="home-page-goal" class="section container center-align box-5 scrollspy">
 <h4 class="gray-text">
  Objetivos da FARMA
 </h4>
 <br>

 <div class="row">
  <div class="col s12 m6 l6">
   <%= fa_icon('plus-square-o', 'aria-hidden': true, class: 'text-green medium') %>
   <p class="gray-text ">
    Permitir a construção de OAs para o ensino da matemática por
    professores leigos em programação.
   </p>
  </div>

  <div class="col s12 m6 l6">
   <%= fa_icon('bars', 'aria-hidden': true, class: 'text-green medium') %>
   <p class="gray-text ">
    Proporcionar um ambiente para construção de OAs matemáticos que seja
    de fácil utilização.
   </p>
  </div>
 </div>

 <div class="divider"></div>

 <div class="row">
  <div class="col s12">
   <%= fa_icon('plus-circle-o', 'aria-hidden': true, class: 'text-green medium') %>
   <p class="gray-text ">
    Incentivar o uso do erro como uma forma de aprendizagem, por meio das
    possibilidades de:
   </p>
  </div>

  <div class="col s12 m6 l3">
   <%= fa_icon('search-plus', 'aria-hidden': true, class: 'text-green medium') %>
   <p class="gray-text ">
    Do professor poder analisar os erros e acertos dos aprendizes.
   </p>
  </div>

  <div class="col s12 m6 l3">
   <%= fa_icon('undo', 'aria-hidden': true, class: 'text-green medium') %>
   <p class="gray-text">
    Do professor e/ou aprendiz retroceder aos erros e acertos.
   </p>
  </div>

  <div class="col s12 m6 l3">
   <%= fa_icon('comments', 'aria-hidden': true, class: 'text-green medium') %>
   <p class="gray-text ">
    Permitir a troca remota de mensagens entre professores e aprendizes
    sobre erros e acertos.
   </p>
    </div>

    <div class="col s12 m6 l3">
   <%= fa_icon('users', 'aria-hidden': true, class: 'text-green medium') %>
   <p class="gray-text ">
    Monitorar o desempenho do aprendiz pelo uso de OAs.
   </p>
    </div>
  </div>

  <div class="divider"></div>

 <div class="row">
  <div class="col s12 m6 l3">
   <%= fa_icon('line-chart', 'aria-hidden': true, class: 'text-green medium') %>
   <p class="gray-text ">
    Incentivar o desenvolvimento gradual da
    capacidade de abstração do aprendiz.
   </p>
  </div>

  <div class="col s12 m6 l3">
   <%= fa_icon('check', 'aria-hidden': true, class: 'text-green medium') %>
   <p class="gray-text ">
    Incentivar a remediação de erros.
   </p>
  </div>

  <div class="col s12 m6 l3">
   <%= fa_icon('mobile', 'aria-hidden': true, class: 'text-green medium') %>
   <p class="gray-text ">
    Permitir mobilidade educacional.
   </p>
  </div>

  <div class="col s12 m6 l3">
   <%= fa_icon('star', 'aria-hidden': true, class: 'text-green medium') %>
   <p class="gray-text ">
    Promover avaliação formativa.
   </p>
  </div>
 </div>

</section>
