<section id="home-page-researchs" class="section container scrollspy">

  <header class="center">
    <i class="material-icons text-green medium">school</i>
    <h4>Pesquisas sobre a FARMA</h4>
  </header>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#artigo">Artigos</a></li>
        <li class="tab col s3"><a href="#poster">Poster</a></li>
        <li class="tab col s3"><a href="#tcc">TCC</a></li>
        <li class="tab col s3"><a href="#mestrado">Mestrado</a></li>
        <li class="tab col s3"><a href="#doutorado">Doutorado</a></li>
      </ul>

      <div id="artigo">
        <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
          <%= render partial: 'home/researchs/research', collection: articles[0..4] %>
          <% if articles.size() > 4 then %>
              <ul class="collapsible popout collapsible-accordion more" data-collapsible="accordion" hidden>
                <%= render partial: 'home/researchs/research', collection: articles[5..(articles.size())] %>
              </ul>
              <div class="show-more material-icons tabs col s12">keyboard_arrow_down</div>
              <div class="show-less material-icons tabs col s12">keyboard_arrow_up</div>
          <% end %>
        </ul>
      </div>

      <div id="poster">
        <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
          <%= render partial: 'home/researchs/research', collection: posters[0..4] %>
          <% if posters.size() > 4 then %>
              <ul class="collapsible popout collapsible-accordion more" data-collapsible="accordion" hidden>
                <%= render partial: 'home/researchs/research', collection: posters[5..(posters.size())] %>
              </ul>
              <div class="show-more material-icons tabs col s12">keyboard_arrow_down</div>
          <% end %>
        </ul>
      </div>

      <div id="tcc">
        <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
          <%= render partial: 'home/researchs/research', collection: graduations[0..4] %>
          <% if graduations.size() > 4 then %>
              <ul class="collapsible popout collapsible-accordion more" data-collapsible="accordion" hidden>
                <%= render partial: 'home/researchs/research', collection: graduations[5..(graduations.size())] %>
              </ul>
              <div class="show-more material-icons tabs col s12">keyboard_arrow_down</div>
          <% end %>
        </ul>
      </div>

      <div id="mestrado">
        <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
          <%= render partial: 'home/researchs/research', collection: masters[0..4] %>
          <% if masters.size() > 4 then %>
              <ul class="collapsible popout collapsible-accordion more" data-collapsible="accordion" hidden>
                <%= render partial: 'home/researchs/research', collection: masters[5..(masters.size())] %>
              </ul>
              <div class="show-more material-icons tabs col s12">keyboard_arrow_down</div>
          <% end %>
        </ul>
      </div>

      <div id="doutorado">
        <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
          <%= render partial: 'home/researchs/research', collection: doctors[0..4] %>
          <% if doctors.size() > 4 then %>
              <ul class="collapsible popout collapsible-accordion more" data-collapsible="accordion" hidden>
                <%= render partial: 'home/researchs/research', collection: doctors[5..(doctors.size())] %>
              </ul>
              <div class="show-more material-icons tabs col s12">keyboard_arrow_down</div>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

</section>
