<div id="home-sidebar">
  <ul class="nav navbar-nav section table-of-contents">
    <li>
      <%= link_to "format_align_center", "#parallax-banner", class: "material-icons large tooltipped", "data-position" => 'left', "data-tooltip" => "Sobre a Ferramenta" %>
    </li>
    <li>
      <%= link_to "chrome_reader_mode", "#home-page-slider", class: "material-icons large tooltipped", "data-position" => 'left', "data-tooltip" => "Mais informações" %>
    </li>
    <li>
      <%= link_to "language", "#home-page-subjects", class: "material-icons large tooltipped", "data-position" => 'left', "data-tooltip" => "Conteúdos abordados" %>
    </li>
    <li>
      <%= link_to "people", "#home-page-team", class: "material-icons large tooltipped", "data-position" => 'left', "data-tooltip" => "Equipe de desenvolvimento" %>
    </li>
    <li>
      <%= link_to "add_circle", "#home-page-goal", class: "material-icons large tooltipped", "data-position" => 'left', "data-tooltip" => "Objetivos da FARMA" %>
    </li>
    <li>
      <%= link_to "school", "#home-page-researchs", class: "material-icons large tooltipped", "data-position" => 'left', "data-tooltip" => "Pesquisas relacionadas" %>
    </li>
    <li>
      <%= link_to "grade", "#home-page-awards", class: "material-icons large tooltipped", "data-position" => 'left', "data-tooltip" => "Prêmios conquistados" %>
    </li>
    <li>
      <%= link_to "message", "#home-page-footer", class: "material-icons large tooltipped", "data-position" => 'left', "data-tooltip" => "Contato" %>
    </li>
  </ul>
</div>
