<section id="home-page-subjects" class="parallax-container valign-wrapper box-3 section scrollspy">
  <div class="section">
    <div class="container center-align">


      <header class="center">
        <h4>
          Com a flexibilidade que a FARMA disponibiliza, construa Objetos de
          Aprendizagem para:
        </h4>
      </header>

      <div class="row">
        <div class="col s12 m6 l4">
          <%= image_tag("home/farma-matematica.png", class: "item-size responsive-img") %>
        </div>

        <div class="col s12 m6 l4">
          <%= image_tag("home/farma-fisica.png", class: "item-size responsive-img") %>
        </div>

        <div class="col s12 m6 l4">
          <%= image_tag("home/farma-quimica.png", class: "item-size responsive-img") %>
        </div>
      </div>

      <h4>
        ou para qualquer outro conteúdo que envolva expressões aritiméticas e/ou algébricas.
      </h4>

      <div class="center move-btn">
        <%= link_to "Ver todos os OAs", los_path, class: "waves-effect waves-light btn-large tooltipped",
          "data-position" => "bottom", "data-delay" => "50",
          "data-tooltip" => "Ver todos os OAs públicos" %>
      </div>

    </div>

    <div class="parallax"><%= image_tag("shared/farma-03.jpg") %></div>
  </div>
</section>
