<section id="home-page-team" class="section container box-4">
 <h4 class="center-align gray-text">
  Equipe de desenvolvimento
 </h4>
 <br>

 <div class="row">

  <div class="col s12 m4"> <!-- MEMBRO 01  -->
   <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
     <%= image_tag("farma-01.jpg", class: "activator") %>
    </div>

    <div class="card-reveal">
     <span class="card-title white-text">
      <h4>Diego</h4>
      <h5>Dono da FARMA</h5>
     </span>
     <p>Universidade Tecnológica Federal do Paraná (UTFPR)</p>
     <a href="http://www.google.com" class="right "><b>SAIBA MAIS</b></a>
    </div>
   </div>
  </div>

  <div class="col s12 m4"> <!-- MEMBRO 02  -->
   <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
     <%= image_tag("farma-02.jpg", class: "activator") %>
    </div>

    <div class="card-reveal">
     <span class="card-title white-text">
      <h4>Eleandro</h4>
      <h5>Amigo do Diego</h5>
     </span>
     <p>Universidade Tecnológica Federal do Paraná (UTFPR)</p>
     <a href="http://www.google.com" class="right "><b>SAIBA MAIS</b></a>
    </div>
   </div>
  </div>

  <div class="col s12 m4"> <!-- MEMBRO 03  -->
   <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
     <%= image_tag("farma-03.jpg", class: "activator") %>
    </div>

    <div class="card-reveal">
     <span class="card-title white-text">
      <h4>Alex</h4>
      <h5>Matemática</h5>
     </span>
     <p>Universidade Tecnológica Federal do Paraná (UTFPR)</p>
     <a href="http://www.google.com" class="right "><b>SAIBA MAIS</b></a>
    </div>
   </div>
  </div>

  <div class="col s12 m4"> <!-- MEMBRO 04  -->
   <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
     <%= image_tag("farma-04.jpg", class: "activator") %>
    </div>

    <div class="card-reveal">
     <span class="card-title white-text">
      <h4>Jefferson</h4>
      <h5>Manja Ruby</h5>
     </span>
     <p>Acadêmico de Tecnologia em Sistemas para Internet na Universidade Tecnológica Federal do Paraná (UTFPR)</p>
     <a href="http://www.google.com" class="right "><b>SAIBA MAIS</b></a>
    </div>
   </div>
  </div>

  <div class="col s12 m4"> <!-- MEMBRO 05  -->
   <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
     <%= image_tag("farma-05.jpg", class: "activator") %>
    </div>

    <div class="card-reveal">
     <span class="card-title white-text">
      <h4>Leticia</h4>
      <h5>Banco</h5>
     </span>
     <p>Acadêmica de Tecnologia em Sistemas para Interned na Universidade Tecnológica Federal do Paraná (UTFPR)</p>
     <a href="http://www.google.com" class="right "><b>SAIBA MAIS</b></a>
    </div>
   </div>
  </div>

  <div class="col s12 m4"> <!-- MEMBRO 06  -->
   <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
     <%= image_tag("farma-09.jpg", class: "activator") %>
    </div>

    <div class="card-reveal">
     <span class="card-title white-text">
      <h4>Érika</h4>
      <h5>HIC</h5>
     </span>
     <p>Acadêmica de Tecnologia em Sistemas para Interned na Universidade Tecnológica Federal do Paraná (UTFPR)</p>
     <a href="http://www.google.com" class="right "><b>SAIBA MAIS</b></a>
    </div>
   </div>
  </div>

  <div class="col s12 m4"> <!-- MEMBRO 07  -->
   <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
     <%= image_tag("farma-07.jpg", class: "activator") %>
    </div>

    <div class="card-reveal">
     <span class="card-title white-text">
      <h4>Darlan</h4>
      <h5>Direção UI/UX</h5>
     </span>
     <p>Acadêmico de Tecnologia em Sistemas para Interned na Universidade Tecnológica Federal do Paraná (UTFPR)</p>
     <a href="http://www.google.com" class="right "><b>SAIBA MAIS</b></a>
    </div>
   </div>
  </div>

  <div class="col s12 m4"> <!-- MEMBRO 08  -->
   <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
     <%= image_tag("farma-08.jpg", class: "activator") %>
    </div>

    <div class="card-reveal">
     <span class="card-title white-text">
      <h4>Guilherme</h4>
      <h5>Function</h5>
     </span>
     <p>Acadêmico de Tecnologia em Sistemas para Interned na Universidade Tecnológica Federal do Paraná (UTFPR)</p>
     <a href="http://www.google.com" class="right "><b>SAIBA MAIS</b></a>
    </div>
   </div>
  </div>

 </div>
</section>
