<li class="collection-item col s12 row white">
 <div class="col s9 title">
  <i class="mdi-editor-format-list-bulleted left exercise"></i>
  <span class="exercise"><%= "Exercicio " + exercise.index.to_s %></span>
  <p><%= exercise.title %></p>
 </div>

 <div class="col s3">
  <%= link_to(edit_teacher_lo_exercise_path(@lo, exercise), class: 'left') do%>
   <i class="material-icons">mode_edit</i>
  <% end %>

  <%= link_to([:teacher, @lo, exercise], method: :delete, class: 'right', data: { confirm: 'tem certeza disso?' }) do%>
   <i class="material-icons">delete</i>
  <% end %>
 </div>

 <div id="show-questions" class="col S1">
  <%= link_to([:teacher, @lo, exercise], class: 'btn-flat tooltipped',
   'data-position' => 'top', 'data-tooltip' => "Questões do exercício: #{exercise.title}" ) do %>
   
   <span class="right">Questões</span>
   <i class="mdi-hardware-keyboard-tab left"></i>
  <% end %>
 </div>

 <div class="col s6 right">
  <span class="span-created-at right">
   Criado em <%= l(exercise.created_at, format: :small) %>
  </span>

  <% if exercise.updated_at != exercise.created_at %>
   <span class="span-created-at right">
    Última atualização em <%= l(exercise.updated_at, format: :small) %>
   </span>
  <% end %>
 </div>

</li>
