<div class='fixed-modal-btn'>
  <%= link_to(new_teacher_lo_exercise_question_path(@lo, @exercise),
              class: 'btn-floating btn-large pink-red tooltipped',
              'data-position' => 'left', 'data-tooltip' => 'Criar uma nova questão',
              remote: true) do %>
      <%= fa_icon "plus" %>
  <% end %>
</div>

<article>
  <header class="center">
    <h5><%= @exercise.title %> - Questões</h5>
  </header>

  <span class="center"><%= @exercise.content.to_s.html_safe %></span>

  <div class="divider"></div>
  <div id="box-new-question"></div>

  <ul id="questions_list" class="collection col s12">
    <%= render @questions %>
  </ul>

</article>
