<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title><%= full_title(yield(:title)) %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= csrf_meta_tags %>

    <style>
      html, body, #lo-app {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      figure.image img {
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <%= yield %>
    <%= javascript_pack_tag 'app-lo' %>
  </body>
</html>
