<%= simple_form_for([:teacher, @lo, @exercise, @question],
                    html: {class: 'col s12 row'}, remote: @remote) do |f| %>

  <%= f.input :title, autofocus: true %>
  <%= f.input :content, :as => :ckeditor, input_html: { id: ckeditor_id(@question) } %>
  <%= f.input :correct_answer, as: :textarea %>
  <%= f.input :cmas_order, as: :checkbox_materialize %>

  <%= f.button :submit_materialize %>

  <a class='btn-cancel <%= @class %>' data-id='<%= @question.id %>'>
    <i class="material-icons">clear</i>
  </a>
<% end %>
