<li id='question-<%= question.id %>' class="collection-item row col s12">

  <div class="col s12 row questions_list">
    <header class="left">
      <%= link_to teacher_lo_exercise_question_path(@lo, @exercise, question), remote: true do %>
        <%= fa_icon('arrow-right', 'aria-hidden': true, id: "show-question-#{question.id}",
                    class: 'show-question', 'data-target': "question-#{question.id}-show") %>
      <% end %>
      <span class="title-question"><%= question.title %></span>
    </header>

   <div class="right box-links-question">
      <ul>
        <li>
          <%= link_to edit_teacher_lo_exercise_question_path(@lo, @exercise, question),
                  class: 'tooltipped', 'data-position' => 'left', remote: true,
                  'data-tooltip' => "Editar a questão" do %>
            <%= fa_icon('pencil', 'aria-hidden': true, 'data-id': question.id) %>
          <% end %>
        </li>

        <li>
          <%= link_to [:teacher, @lo, @exercise, question], method: :delete,
                      data: { confirm: 'tem certeza disso?' }, class: 'tooltipped',
                      'data-position' => 'left', 'data-tooltip' => "Deletar a questão" do %>
              <%= fa_icon('trash', 'aria-hidden': true) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="divider col s12"></div>
  <div id="question-<%= question.id %>-show" class="col s12 row ajax-question-box"></div>
</li>
