<li id='question-<%= question.id %>' class="collection-item row col s12">

  <div class="col s12 row questions_list">
    <header class="left">
      <%= link_to teacher_lo_exercise_question_path(@lo, @exercise, question), remote: true do %>
        <i id="show-question-<%= question.id %>"
        class="show-question material-icons medium" data-target="question-<%= question.id %>-show">
        keyboard_arrow_right
      </i>
      <% end %>
      <span class="title-question"><%= question.title %></span>
    </header>

   <div class="right box-links-question">
      <ul>
        <li>
          <%= link_to edit_teacher_lo_exercise_question_path(@lo, @exercise, question),
                  class: 'tooltipped', 'data-position' => 'left', remote: true,
                  'data-tooltip' => "Editar a questão" do %>
            <i class="material-icons edit-question" data-id="<%= question.id %>">mode_edit</i>
          <% end %>
        </li>

        <li>
          <%= link_to [:teacher, @lo, @exercise, question], method: :delete,
                      data: { confirm: 'tem certeza disso?' }, class: 'tooltipped',
                      'data-position' => 'left', 'data-tooltip' => "Deletar a questão" do %>
              <i class="material-icons">delete</i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="divider col s12"></div>
  <div id="question-<%= question.id %>-show" class="col s12 row ajax-question-box"></div>
</li>
