<span class="col s12">Conteúdo:</span>

<div class="box-question-content col s11">
  <%= @question.content.to_s.html_safe %>
</div>

<div class="col s12">
  <span class="left">Resposta Correta: </span>
  <p class="text-green"> <%= @question.correct_answer %></p>
</div>

<article id="article-tips">
  <header class="center col s12">
    <h4 class="text-green">Dicas</h4>
  </header>

  <div class="col s3 offset-s9">
    <%= link_to 'Nova Dica',
                new_teacher_lo_exercise_question_tip_path(@lo, @exercise, @question),
                class: 'btn',
                remote: true %>
  </div>

  <div id="box-new-tips-for-<%= @question.id %>"></div>

  <ul id="list-tips" class="col s12 row">
    <%= render @tips %>
  </ul>

</article>
