<span class="col s12">
  <%= fa_icon('align-justify', 'aria-hidden': true, text: 'Conteúdo') %>
</span>

<div class="box-question-content col s11">
  <%= @question.content.html_safe %>
</div>

<div class="pandding right">
  <span>Resposta Correta: </span>
  <span class="chip light-gree"> <%= @question.correct_answer %></span>
</div>

<div class="col s12">
  <span class="left">Considerar Ordem:
    <%= @question.cmas_order ? "Sim" : "Não" %>
  </span>
</div>

 <%= render 'test_to_answer' %>

<article class="article-tips col s12">
  <header class="col s12">
    <span class="color-amber">
      <%= fa_icon('lightbulb-o', 'aria-hidden': true, text: 'Dicas') %>
    </span>
  </header>

  <div class="right">
    <%= link_to 'Nova Dica',
                new_teacher_lo_exercise_question_tip_path(@lo, @exercise, @question),
                class: 'btn new-tip-btn btn-flat white tips black-text',
                'data-id' => @question.id,
                remote: true %>
  </div>

  <div id="box-new-tips-for-<%= @question.id %>" class="box-new-tip"></div>

  <ul id="list-tips-<%= @question.id %>" class="col s12 row">
    <%= render @tips %>
  </ul>

</article>
