<span class="col s12"><i class="material-icons">subject</i> Conteúdo</span>

<div class="box-question-content col s11">
  <%= @question.content.html_safe %>
</div>

<div class="pandding right">
  <span>Resposta Correta: </span>
  <span class="chip light-gree"> <%= @question.correct_answer %></span>
</div>

<div class="col s12">
  <span class="left">Considerar Ordem:</span>
  <p><%= @question.cmas_order ? "Sim" : "Não" %></p>
</div>

 <%= render 'test_to_answer' %>

<article id="article-tips">
  <header class="col s12">
    <span class="color-amber"><i class="material-icons">lightbulb_outline</i> Dicas</span>
  </header>

  <div class="right">
    <%= link_to 'Nova Dica',
                new_teacher_lo_exercise_question_tip_path(@lo, @exercise, @question),
                class: 'btn new-tip-btn',
                'data-id' => @question.id,
                class: 'btn-flat white tips black-text',
                remote: true %>
  </div>

  <div id="box-new-tips-for-<%= @question.id %>" class="box-new-tip"></div>

  <ul id="list-tips" class="col s12 row">
    <%= render @tips %>
  </ul>

</article>
