<span class="col s12"><i class="material-icons">subject</i> Conteúdo</span>

<div class="box-question-content col s11">
  <%= @question.content.to_s.html_safe %>
</div>

<div class="pandding right">
  <span>Resposta Correta: </span>
  <span class="chip light-gree"> <%= @question.correct_answer %></span>
</div>

<article id="article-tips">
  <header class="col s12">
    <span class="color-amber"><i class="material-icons">lightbulb_outline</i> Dicas</span>
  </header>

  <div class="right">
    <%= link_to 'Nova Dica',
                new_teacher_lo_exercise_question_tip_path(@lo, @exercise, @question),
                class: 'btn-flat white tips black-text',
                remote: true %>
  </div>

  <div id="box-new-tips-for-<%= @question.id %>"></div>

  <ul id="list-tips" class="col s12 row">
    <%= render @tips %>
  </ul>

</article>
