<div class="card col s3">
  <div class="card-image waves-effect waves-block waves-light">
    <%= image_tag lo.image.url , class: "responsive-img activator"%>
  </div>

  <div class="card-content">
    <span class="activator grey-text text-darken-4">
      <%= fa_icon 'ellipsis-v', class: :right %>
    </span>
    <p class="card-title hide-on-med-and-down" >
     <%= truncate_and_set_tooltip(lo.name, length: 10) %>
    </p>
  </div>

  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4 clearfix">
       <%= fa_icon 'close' %>
       <%= truncate_and_set_tooltip(lo.name, length: 10) %>
    </span>

    <%= truncate_and_set_popup(lo.name, lo.description, length: 180, separator: ' ') %>
  </div>

  <div class="card-action">
    <%= link_to 'LO', '#' %>
  </div>
</div>
