<div class="col s12">
  <div class="row">
    <div class="card-lo z-depth-1 clearfix col s12">
      <div class="card-image col s2">
        <%= link_to test_path(lo.id) do %>
          <%= attachment_image_tag lo.image,
                                  :image,
                                  :fill,
                                  200,
                                  200,
                                  fallback: "default-image.png",
                                  class: "responsive-img" %>
        <% end %>
      </div>

      <div class="card-content left-align col s7">
        <h4 class="title"><%= lo.name %></h4>
        <p class="description"><%= truncate_and_set_popup(lo.name, lo.description, length: 360, separator: ' ') %></p>
      </div>

      <div class="card-progress col s3">
        <%= link_to test_path(lo.id), class: 'waves-effect waves-light btn-large', target: '_blank' do %>
          Testar OA
        <% end %>
      </div>
    </div>
  </div>
</div>
