<% provide(:title, "OAs") %>
<div class="col s9">
  <article id="los">

    <ul id="all-los" class="collection list-active container z-depth-1">

      <li class="collection-header"><h4 class="center-align">Objetos de Aprendizagem</h4></li>

      <% @los.each do |lo| %>
        <li class="collection-item avatar hoverable">

          <div id="left-los-box">
            <%= image_tag lo.user.avatar.url , alt: "avatar-user", class: "circle"%>
            <%= content_tag(:span, lo.name, class: "title truncate")%>
            <%= content_tag(:p, lo.user.name) %>
          </div>

          <div id="mdi-los-box">
            <%= content_tag(:p, lo.description) %>
          </div>

          <div id="right-los-box">
              <%= link_to (lo_path lo, method: :get) do %>
                <i class="material-icons">send</i>
              <% end %>
          </div>

        </li>
      <% end %>

    </ul>

  </article>
</div>
