<div id="keyboard-{{id}}" class="keyboard">
  <div class="side-input">
    <button type="button" class="btn key waves-effect waves-light clear" data-value="C">Limpar</button>
    <button type="button" id="diyBtn" class="btn clear">DIY</button>
    <div class="jax" id="MathOutput-{{id}}">$${}$$</div>
    <input id="response-{{id}}" type="text" value="" name="answer[response]" hidden data-storage=""/>
    <textarea id="keyboard-{{id}}-screen" class="screen" value="" placeholder="LaTeX puro aqui!" hidden ></textarea>
    <!-- <textarea id="kb-{{id}}-tex" class="screen screen-tex" placeholder="Fórmulas LaTeX"></textarea> -->
  </div>

  <!-- Screen and clear key -->
  <!-- <div class="top">

    <!-- <input type="hidden" id="" id="MathInput"></input> -->
    <!-- <button class="clear material-icons" data-value="<">keyboard_arrow_left</button>
    <button class="clear material-icons" data-value=">">keyboard_arrow_right</button> -->
  <!-- </div> -->

  <div class="keys" id="default-keys">
    <!-- operators and other keys -->
    {{#each keys}}
      {{> element}}
    {{/each}}
  </div>

  <div class="keys" id="more">
    {{#each specialKeys}}
      {{> element}}
    {{/each}}
    <button type="submit" class="btn waves-effect waves-light tooltipped eval mdi mdi-account-check" data-tooltip="{{this.key}}" data-position="top" data-value="check">{{this.key}}</button>

  </div>

</div>
