

<div class="container back-btn">
<%= link_to 'Voltar', :back, class: 'btn'  %>
</div>


<section id="home-page-team" class="section container box-1 scrollspy">
<h4 class="center-align gray-text">
 Equipe de desenvolvimento
</h4>
<br>

<div class="row">
 <% @active_developers.each do |dev| %>
  <div class="col s12 m4">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag attachment_url(dev, :profile_image, :fill, 299, 299, format: "jpg", fallback: "default-avatar"), :class => 'circle index-img activator' %>

      </div>

      <div class="card-reveal">
        <span class="card-title white-text">
          <h5> <%= dev.name %></h5>
          <h6>  <%= dev.function %></h6>
        </span>
        <p>
         <%= dev.institution %>
        </p>
        <b><%= link_to 'SAIBA MAIS', "http://#{dev.link}", class: 'right' %></b>
      </div>
    </div>
  </div>
 <% end %>
</div>
</section>

<section id="home-page-team" class="section container box-4 scrollspy">
<h4 class="center-align gray-text">
 Ex-Membros da equipe
</h4>
<br>

<div class="row">
 <% @inavtive_developers.each do |dev| %>
  <div class="col s12 m4">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag attachment_url(dev, :profile_image, :fill, 299, 299, format: "jpg", fallback: "default-avatar"), :class => 'circle index-img activator' %>

      </div>

      <div class="card-reveal">
        <span class="card-title white-text">
          <h5> <%= dev.name %></h5>
          <h6>  <%= dev.function %></h6>
        </span>
        <p>
         <%= dev.institution %>
        </p>
        <b><%= link_to 'SAIBA MAIS', "http://#{dev.link}", class: 'right' %></b>
      </div>
    </div>
  </div>
 <% end %>
</div>
</section>

