<div id="keyboard-{{id}}" class="keyboard">

  <!-- Screen and clear key -->
  <!-- <div class="top">

    <!-- <input type="hidden" id="" id="MathInput"></input> -->
    <!-- <button class="clear material-icons" data-value="<">keyboard_arrow_left</button>
    <button class="clear material-icons" data-value=">">keyboard_arrow_right</button> -->
  <!-- </div> -->
  <div class="top">
    <button type="button" class="btn key waves-effect waves-light clear" data-value="C">Limpar</button>
    <button type="button" id="diyBtn" class="btn clear">DIY</button>
    <div class="jax" id="MathOutput-{{id}}">$${}$$</div>
  </div>

  <div class="clearfix">

    <div class="keys" id="default-keys">
      <div id="delimiters">
        {{#each delimiters}}
        {{> element}}
        {{/each}}
      </div>
      <!-- operators and other keys -->
      <div id="operators">
        {{#each keys}}
        {{> element}}
        {{/each}}
      </div>
    </div>

    <div id="special-keys">

      <div id="separator"></div>

      <div class="modifiers">
        <ul>
          <li data-id="functions-keys">FUNÇÕES</li>
          <li data-id="matrix-keys">MATRIZES</li>
          <li data-id="trig-keys">TRIGONOMETRIA</li>
        </ul>
        <div id="advanced-keys">
          <div id="function-keys" hidden>
            {{#each function}}
              {{> element}}
            {{/each}}
          </div>
          <div id="matrix-keys" hidden>
            Matrizes
          </div>
          <div id="trig-keys" hidden>
            Trigonometria
          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- <div class="keys" id="more">
    {{#each specialKeys}}
      {{render 'element'}}
    {{/each}}
    <button type="submit" class="btn waves-effect waves-light tooltipped eval mdi mdi-account-check" data-tooltip="{{this.key}}" data-position="top" data-value="check">{{this.key}}</button>

  </div> -->

  <div id="show-direct-input"><></div>

  <div class="direct-input" hidden>


    <textarea id="keyboard-{{id}}-screen" class="screen" value="" placeholder="LaTeX puro aqui!" hidden></textarea>
    <textarea id="kb-{{id}}-tex" class="screen screen-tex" placeholder="Fórmulas LaTeX"></textarea>
  </div>

</div>
