<div class="col m6 offset-m1 s12 container">

  <h5>Entre em contato conosco</h5>

  <div class="divider"></div>

  <%= simple_form_for(@contact, :remote => true) do |f| %>
    <%= f.input :name, autofocus: true %>
    <%= f.input :email %>
    <%= f.input :message, as: :textarea %>

    <%= f.button :submit_materialize, "Enviar" %>
  <% end %>

</div>
