<!-- Dropdown Structure -->
<ul id="dropdown-user" class="dropdown-content">
 <% if user_signed_in? %>
  <li>

   <%= link_to(teacher_path) do %>
    <i class="material-icons left">dashboard</i> Dashboard
   <% end %>

  </li>

  <li>

   <%= link_to(edit_user_registration_path) do %>
    <i class="material-icons left">person</i> Perfil
   <% end %>

  </li>
  <li>

   <%= link_to(destroy_user_session_path, method: :delete) do %>
    <i class="material-icons left">exit_to_app</i> Sair
   <% end %>

  </li>
 <% end %>
</ul>

<nav id="home-page-navbar" role="navigation">
  <div class="nav-wrapper container">
    <% if controller.controller_name != 'home' %>
      <%= link_to(image_tag("logos/logo-farma-black.png", id: "los-path-logo"), root_path, class: 'left') %>

      <%= link_to "começe já", new_user_session_path, class: "waves-effect waves-light btn-large tooltipped", id: 'start-now',
                  "data-position" => "bottom", "data-delay" => "50",
                  "data-tooltip" => "Clique aqui para acessar o sistema" %>
    <% end %>

    <% if user_signed_in? %>
       <ul class="right"> <!-- Dropdown Trigger -->
        <li>
         <a class="dropdown-button" href="#!" data-activates="dropdown-user">
          <%= current_user.name %><i class="material-icons right">arrow_drop_down</i>
         </a>
        </li>
       </ul>
    <% else %>
      <ul class="right">
        <%= link_to(new_user_session_path) do %>
          <i class="material-icons left">account_circle</i> Entrar
        <% end %>
      </ul>
    <% end %>
  </div>
</nav>
