<!-- Dropdown Structure -->
<ul id="dropdown-user" class="dropdown-content">
  <% if user_signed_in? %>
    <li>
      <%= link_to(teacher_path) do %>
        <i class="mdi-action-dashboard left"></i> Dashboard
      <% end %>
    </li>

    <li class="divider"></li>

    <li>
      <%= link_to(edit_user_registration_path) do %>
        <i class="mdi-action-face-unlock left"></i> Perfil
      <% end %>
    </li>
    <li>
      <%= link_to(destroy_user_session_path, method: :delete) do %>
        <i class="mdi-hardware-keyboard-tab left"></i> Sair
      <% end %>
    </li>
  <% end %>
</ul>

<nav id="home-page-navbar" role="navigation">
  <div class="nav-wrapper container">
    <% if user_signed_in? %>
      <ul class="right">
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-button" href="#!" data-activates="dropdown-user">
            <%= current_user.name %><i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    <% else %>
      <ul class="right">
        <%= link_to(new_user_session_path) do %>
          <i class="mdi-action-account-circle left"></i> Entrar
        <% end %>
      </ul>
    <% end %>

    <!-- <ul id="nav-mobile" class="side-nav">
      <li><%= link_to("FARMA", root_path ) %></li>
    </ul>

    <a href="#" data-activates="nav-mobile" class="button-collapse">
      <i class="material-icons">menu</i>
    </a> -->
  </div>
</nav>
