<article class="question z-depth-1 white">
  <header class="grey-text lighten-1">
    Questão <%= question.index %>
  </header>

  <div class="content">
    <%= question.title %>
    <%= question.content.html_safe %>
  </div>

  <div class="box-response">
    <form id="keyboard-form-<%= question.id %>" class="col s12" method="POST"
      action="<%= view_lo_answer_path(@team, @lo, question.exercise, question) %>" data-remote="true">
      <div id="keyboard-panel-<%= question.id %>"></div>
    </form>
  </div>
</article>
