<% provide(:title, "Nova Questão") %>

<div id="box-new-lo" class="col s9 container">

  <h3>Editar Questão <%= @question.title %></h3>

  <%= simple_form_for([:workspace, @lo, @exercise, @question], html: {class: 'col s12'}) do |f| %>

    <%= f.input :title, autofocus: true %>
    <%= f.input :content, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} }%>
    <%= f.input :correct_answer%>

    <%= f.button :submit_materialize, "Confirmar" %>
  <% end %>

</div>
