<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title><%= full_title(yield(:title)) %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="//cdn.materialdesignicons.com/1.7.12/css/materialdesignicons.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body id="home-page">

  <header>
    <%= render 'layouts/home/navbar_top' if controller_name.eql? 'home' %>

    <%= render 'shared/flash_messages'  %>
  </header>

  <main>
     <%= yield %>
  </main>

  <%= render 'layouts/home/footer' if controller_name.eql? 'home' %>

</body>
</html>
