<%= simple_form_for(@research) do |f| %>

<div class="col s12">
  <%= f.input :title %>
</div>

<div id="box-textarea" class="col s12">
  <%= f.input :ref, as: :textarea%>
</div>

<div id="box-textarea" class="col s12">
  <%= f.input :abstract, as: :textarea %>
</div>

<div class="col s8">
  <%= f.input :link %>
</div>
<div class="col s4">
  <%= f.association :research_category%>
</div>

<div class="col s11">
  <%= f.button :submit_materialize, cancel: admin_researches_path %>
</div>
<% end %>
