<header class="page-header">
  <h1>Pesquisas</h1>
</header>

<div class="fixed-action-btn">
  <%= link_to(new_admin_research_path,
              class: 'btn-floating btn-large pink-red tooltipped',
              'data-position' => 'left',
              'data-tooltip' => 'Cadastrar uma nova pesquisa') do %>
     <%= fa_icon "plus" %>
  <% end %>
</div>

<table class="bordered striped">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @researches.each do |research| %>
      <tr>
        <td>
          <%= link_to admin_research_path(research) do %>
          <%= research.title %>
        <% end %>
        </td>
        <td class="right">
          <%= link_to research, data: { confirm: 'Tem certeza?' }, class: 'actions destroy tooltipped', method: :delete,
            "data-position" => "bottom", "data-delay" => "50", "data-tooltip"=>"Remover" do %>
            <%= fa_icon "trash" %>
          <% end %>
          <%= link_to edit_admin_research_path(research), class: 'actions edit tooltipped',
            "data-position" => "bottom", "data-delay" => "50", "data-tooltip"=>"Editar" do %>
            <%= fa_icon "edit" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
