<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_research.title %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @admin_research.ref %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @admin_research.abstract %>
</p>

<p>
  <strong>Link:</strong>
  <%= @admin_research.link %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @admin_research.kind %>
</p>

<%= link_to "Editar", edit_admin_research_path(@admin_research) %> |
<%= link_to "Voltar", admin_researches_path %>
